.graph-view.color-circle {
  color:  #ffffff ;
  border-radius: 1ch;
}
.graph-view.color-circle-border {
  border: 100px solid #ffffff;
  border-radius: 10ch;
}
.graph-view.color-fill {
    color: #060606;
  }
  .graph-view.color-line {
    color: #383549;
    width: 100px ;
  }
  .graph-view.color-text {
    color: var(--text-normal);
  }
  .graph-view.color-fill-highlight {
    color: #cac5e8;
  }
  .graph-view.color-line-highlight {
    color: rgb(var(--interactive-accent-rgb));
  }
  .graph-view.graph-view.color-fill-unresolved {
    color: #cac5e8;
    opacity: 0.5;
  }
  
  