canvas {
  background-color: #161616;
  background-image: var(--stars-svg), linear-gradient(134deg, rgba(72, 54, 153, 0.8) 0%, rgba(6, 1, 28, 0.8) 100%);
  background-blend-mode: soft-light;
}

.graph-view.color-fill {
color: #afaaca;
}
.graph-view.color-circle {
color: #ffffff;
}
.graph-view.color-line {
color: #3d3566;
}
.graph-view.color-text {
color: #afaaca;
}
.graph-view.color-fill-highlight {
color: #11083f;
}
.graph-view.color-line-highlight {
color: #afaaca;
}

html {
  --stars-svg: url("data:image/svg+xml,...");
}